{% extends "./base.html" %}

{% import "./macros.html" as macros %}

{% block head%}
    {{ super() }}
    <!-- Local Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
{% endblock %}

{% block display_title %}Profile{% endblock %}

{% block nav_content %}
    {% if g.user != None %}
        <div class="prof-card mx-auto justify-content-center">
            <div class="pfp-container">
                <img src="{{url_for('static', filename=g.user[4].strip('.'))}}" class="pfp-lg card-image-top"/>
                <div class="change-pfp pfp-lg">
                    <i class="fa fa-camera fa-4"></i>
                    <form id="pfp-form" method="POST" enctype="multipart/form-data" action="{{url_for('profile', user=g.user[0])}}">
                        <input name="pfp" id="pfp-chooser" type="file"/>
                    </form>
                </div>
            </div>
            <br>
            <h5 class="card-title">{{g.user[1]}}</h5>
            <a href="{{url_for('profile', user=g.user[0])}}" class="btn btn-primary">Profile</a>
            <a href="{{url_for('auth.sign_out')}}" class="btn min-button"><i class="fa fa-sign-out"></i></a>
        </div>
    {% else %}
        <button class="nav-button login-button" onclick="Display_Overlay()"> Sign In </button>
    {% endif %}
    <br>
    <div class="side-nav">
    <!-- Navigation Buttons -->
    {% if user == g.user[0] %}
        <a class="nav-button" href="#" onclick="Show_Post_Creator()" {% if not g.user[6] %}disabled{%endif%}>Create Post</a>
        <br>
    {% endif %}
    <a class="nav-button" href="{{url_for('dashboard')}}">Dashboard</a>
    </div>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-lg-12 p-2 d-flex">
            <div class="card mx-auto">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2">
                            <img class="pfp-lg profile-pfp" src="{{url_for('static', filename=user_info[4].strip('.'))}}"/>
                        </div>
                        <div class="col-10 my-auto">
                            <h1 class="profile-title"> {{user_info[1] }}'s Profile</h1>
                            {% if g.user[0] != user and g.user[6] %}
                                <button class="banner-button" id="message-button"> Message </button>
                                <button class="banner-button report-button"> Report </button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-post hidden">
        <div class="row">
            <div class="col-lg-12 p-2 d-flex">
                <div class="card mx-auto">
                    <div class="card-body">
                        <form class="post-body" id="post-creation-form" method="POST" action="javascript:void(0);">

                            <!-- Quill Editor -->
                            <div id="post-body" name="postContent" required></div>
                            <div id="toolbar">
                                <span class="ql-formats">
                                    <button class="ql-bold"></button>
                                    <button class="ql-italic"></button>
                                    <button class="ql-underline"></button>
                                    <button class="ql-strike"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-align"></select>
                                </span>
                                <span class="ql-format-group">
                                  <select title="Size" class="ql-size">
                                    <option value="10px">Small</option>
                                    <option value="13px">Normal</option>
                                    <option value="18px">Large</option>
                                    <option value="32px">Huge</option>
                                  </select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-image"></button>
                                </span>
                                <button id="post-submit" class="fa fa-chevron-right" onclick="SubmitForm()" type="submit"></button>
                                <span id="counter" style="color:green">0/255</span> 
                                <span id="flashed-error"></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="posts">
        {% for post in posts %}
            <div class="row">
                <div class="col-lg-12 p-2 d-flex">
                    <div class="card mx-auto">
                        <div class="card-body">
                            <a class="profile-link" href="{{url_for('profile', user=post[1])}}">
                                <h5 class="card-title"><img class="pfp" src="{{url_for('static', filename=post[-6].strip('.'))}}" />        {{ post[-2] }}</h5>
                            </a>
                            <div class="post-display">
                                <div>
                                    <p class="card-text">{{ post[4] |safe}}</p>
                                </div>
                                <a 
                                    onclick="Show_Reply_Creator(this)"
                                    class="action-link {{post[0]}}"
                                >
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                </a>
                                <a 
                                    href="#" 
                                    class="action-link {{post[0]}} like-button {% if post[0] in activated_posts[0]%}activated{% endif %}"
                                >
                                    <i class="fa fa-thumbs-up {{post[0]}}" aria-hidden="true"></i>  {{post[-5]}}
                                </a> 
                                <a 
                                    href="#"
                                    class="action-link {{post[0]}} dislike-button {% if post[0] in activated_posts[1]%}activated{% endif %}"
                                >
                                    <i class="fa fa-thumbs-down {{post[0]}}" aria-hidden="true"></i>  {{post[-4]}}
                                </a>

                                {% if post[-1]|length > 0 %}
                                <button onclick="Show_Replies({{post[0]}})" class="fa fa-chevron-down"></button>
                                {% endif %}
                                
                                {% if g.user[0] == user or g.user[5] == '1' %}
                                    <a 
                                        href="{{url_for('delete_post', post_id=post[0])}}"
                                        class="action-link"
                                    >
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>

                                    {% if g.user[0] == user %}
                                        <a 
                                            class="action-link {{post[0]}} edit-button"
                                        >
                                            <i class="fa fa-edit" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="post-editor hidden">
                                <form class="{{post[0]}}" method="POST" action="javascript:void(0);">
                                    <!-- Quill Editor -->
                                    <div oninput="ValidatePost()" id="edit-post-body{{post[0]}}" name="postContent" required> {{ post[4] |safe}} </div>
                                    <div id="edit-toolbar{{post[0]}}">
                                        <span id="counter" style="color:green"></span> 
                                        <span class="ql-formats">
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-underline"></button>
                                            <button class="ql-strike"></button>
                                        </span>
                                        <span class="ql-formats">
                                            <select class="ql-align"></select>
                                        </span>
                                        <button id="post-submit{{post[0]}}" class="{{post[0]}} fa fa-pencil" onclick="SubmitEdits(this)" type="submit"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ macros.reply_editor(post) }}
            <div class="reply-container minimised" id="replies-{{post[0]}}">
                <!-- Display each reply to each post -->
                {% for reply in post[-1]%}

                    {{ macros.display_reply(reply, activated_posts) }}

                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>

    var editor = new Quill('#post-body', {
        modules: { toolbar: '#toolbar', counter: {
            container: '#counter',
            unit: ''
        }},
        theme: 'snow',
    });

    var post_editors = {}

    $('#post-creation-form').submit(function(e) {
        let post_body = editor.root.innerHTML;
        let pure_text = editor.root.innerText;

        $('#post-submit').prop('disabled', true)

        $.ajax(
            {
                data:{post_content: post_body, reply_id: 0, stripped_content: pure_text},
                type: 'POST',
                url:"{{url_for('create_post')}}"
            }
        )
        .done(
            function(result){
                if (result.error == null) {
                    $('#post-submit').prop('disabled', true)
                    location.reload();
                } else {
                    document.getElementById('flashed-error').innerHTML = result.error;
                }
            }
        )
    });

    $(document).ready(function() {
        $('#pfp-chooser').on('change', function() {
            document.getElementById('pfp-form').submit();
        });
        
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        if (urlParams.get('post-create') == 1) {
            Show_Post_Creator()
        }
    });

    $('.edit-button').on('click', function() {
        let post_display = $(this).parent();
        let post_editor = post_display.next();
        let postID = $(this).attr('class').split(/\s+/)[1];
        
        post_display.addClass('hidden')
        post_editor.removeClass('hidden')
        let editor = new Quill(`#edit-post-body${postID}`, {
            modules: { toolbar: `#edit-toolbar${postID}` },
            theme: 'snow',
        });
        post_editors[postID] = editor
    })

    function SubmitEdits(submit_button) {
        let content = post_editors[submit_button.classList[0]].root.innerHTML
        let post_editor = post_editors[submit_button.classList[0]].root.parentElement.parentElement.parentElement
        let post_display = post_editor.previousElementSibling

        console.log(post_display.firstChild.nextElementSibling)

        $.ajax(
            {   
                data: {
                    post_content: content,
                    post_id: submit_button.classList[0]
                },
                type: 'POST',
                url: '{{url_for("update_post")}}'
            }
        )
        .done(
            function(result) {
                post_display.firstChild.nextElementSibling.innerHTML = result.content
                post_display.classList.remove('hidden')
                post_editor.classList.add('hidden')
                post_editors[submit_button.classList[0]].root.innerHTML = ""
            }
        )
    }

    $("#message-button").on('click', function() {
        this.disabled = true;
        $.post('{{url_for("create_conversation")}}', {
            recipitent_id: parseInt("{{user}}"),
            type: 'Direct'
        }, function(result) {
            if (result['success']) {
                /*
                $('#message-col').children().first().prepend(result['html'])
                new_element = $(result['html'])
                console.log(new_element.find(".convo-submit"))

                // had an issue here that took me like an hour to fix
                // turns out we have to this to reset the event attachment
                $('.convo-submit').on("click", function(e) {
                    SendMessage($(this).parent())
                })
                $('.messager-form').keyup(function(e){
                    if(e.keyCode == 13)
                    {
                        $(this).children().last().click()
                    }
                });
                */
                window.location.reload()
            }
        })
    })

    $('.report-button').on('click', function(e) {
        $.ajax(
        {
            data: {
                user_id: parseInt("{{g.user[0]}}"),
                reported_user: parseInt("{{user}}"),
                reason: 'racism'
            },
            type: 'POST',
            url: "{{url_for('report')}}"
        }
        )
    })

</script>
{% endblock %}
</html>