.pfp {
	width:30px;
	height:30px;
	border-radius:15px;
}

body {
	min-height: 100% !important;
}

.container {
    display:-webkit-box;
}

.reply-form .ql-picker-options{
    display: inline-block !important;
    top:unset !important;
}

.reply-form .ql-picker-item {
    display: inline-block !important;
}

.post-container .card {
	width: 48rem;
    border:transparent;
}

.ql-align-center {
    text-align:center;
}

.ql-align-right {
    text-align:right;
}

.activated {
    color: #0d6efd !important;
}

.login-button {
    background-color:rgb(85, 172, 238) !important;
    border:transparent;
    border-radius:20px;
    color:white !important;
    font-weight: bold;
}

#post-body {
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    min-height:5rem;
    padding: 1rem;
}

#post-submit {
    float:right;
    margin-left:1rem;
}

.button-tray {
    margin-bottom:0;
}

.side-nav {
    /* padding: 2px; */
    /* background-color: white; */
    border-radius: 10px;
    /* padding: 2rem; */
    /* border: gray; */
    /* border-style: solid; */
    border-width: 1px;
    overflow: hidden;
    left: 0px;
    position: relative;
    margin-top:1rem;
    float: right;
    display: grid;
    min-width:100%;
}

.nav-button {
	width: 12rem;
    margin: 0px;
    display: block;
    padding: 10px;
    /* border: solid gray; */
    border-width: 1px;
    /* border-style: solid; */
    /* border-radius: 10px; */
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border-top: none;
    border-radius:20px;
    font-weight:bold;
    float:right;
    margin-left:auto;
}

.search-card {
    padding: 1em;
}

.nav-button:hover {
    background-color:rgb(230,230,230);
    color:black;
    transition:0.5s;
}

.min-button {
    color:gray;
    font-size:32px;
    right:0px;
    align-self: right;
    text-align: right;
}

.min-button:hover {
    color:black;
    transition:0.5s;
}

.jumbotron {
    text-align:center;
    color:white;
}

#nav-col {
    padding: 0px;
    padding-left: 1rem;
    display: block;
    padding-top:2rem;
    position:relative;
    float:right;
}

.pfp-lg {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    display:flex;
}

.prof-card {
    align-items: center;
    background-color: white;
    border-radius:10px;
    padding:1.5rem;
    float:right;
    width: 14rem;
}

.card img {
    max-height:20rem !important;
}

.post-container {
    position:relative;
}

.post-container .row {
    z-index:1;
    position:relative;
}

.reply-container {
    margin-top: -0.5em;
    z-index: 0;
    position: relative;
    max-height: 1000px;
    overflow: hidden;
    transition: 0.5s;
}

.reply-container .row:last-child .card {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
}

.reply-col {
    padding-left:1.5em;
}

.message-col {
    margin-top:2em;
    height:100vw;
}

.convo-body {
    overflow-y: scroll;
    height: 14rem;
    transition: 3s;
}

.message {
    display: flex;
    align-items: center;
    padding:0.5em;
    width:100%;
}

.message.outgoing {
    justify-content: end;
}

.message .pfp {
    float: left;
}

.convo-submit {
    border: none;
    background:  none;
}

.message-body {
    background-color: gray;
    border-radius: 20px;
    padding: 1em;
    color: white;
    display:inline-block;
}

.outgoing .message-body {
    background-color: blue;
}

.convo-title {
    padding:0.5em;
    padding-bottom:0;
    border-bottom: solid 1px rgb(205,205,205);
}

.reply-col .card {
    width: 46rem !important;
    border-radius: 0px;
    display:block !important;
}

.reply-editor {
    display: unset !important;
}

.fa-trash-o {
    color:red;
}

@media(max-width:767px){
    .prof-card {
        position:absolute;
        top:0;
        min-width:100%;
    }

    #nav-col {
        display:none;
    }

    .col-9 {
        width:100%;
        
    }

    .container {
        width:100% !important;
        min-width: 100% !important;
        display:block;
        padding:0;
    }

    .container-fluid {
        padding:0 !important;
    }

    .post-container {
        position:static;
        width: 100% !important;
        padding:0.25rem !important
    }
    .jumbotron {
        padding: 0.5rem !important
    }

    .message-col {
        display:none;
    }
}

.pfp-container {
    display:flex;
    justify-content: center;
    width:100%;
}

.action-link {
	color:black;
	padding:10px;
	text-decoration: none;
}

a {
    color: unset;
}

.Like {
	color:blue;
}

.Dislike {
	color:blue;
}

.none {
	color: black;
}

.profile-link {
    text-decoration: none;
    color:inherit;
}

.stylish-link {
	text-decoration: none;
	color:inherit;
	font-weight: bold;
	transition:0.5s;
}

.floating-button {
	background-color: transparent;
	border:none;
	position:absolute;
}

.stylish-link:hover {
	text-shadow: 2px 4px rgba(30,30,30,0.1);
	transition:0.5s;
	color:white;
	font-size: 1.05em;
}

.sticky-top {
	z-index:1 !important;
    top:0.5rem !important;
}

.overlay {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	padding-top: 20vh;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}

.hidden {
	display:none !important;
}

.minimised {
	overflow: hidden;
    max-height: 0px !important;
    transition: 0.3s;
    padding:0px !important;
    display:none;
}

.no-display-none {
    display:unset !important;
}

body {
	background: url('../static/assets/backgrounds/1920px-M104_ngc4594_sombrero_galaxy_hi-res.jpg') no-repeat center center fixed;
	background-size: cover
}

.align-items-center {
	min-height:50vh !important;
}

.quiet-text {
	text-align: center;
}

.card {
	border-style: solid;
    border-color: #ccc;
    border-width: 2px;
    box-shadow: 2px 4px rgba(30,30,30,0.1);
}

.draggable {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.pfp-md {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    border: 1px solid gray;
}

.dm-header {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgb(200,200,200);
    border-radius: 5px;
    margin-bottom:0;
}

.dm-button {
    background-color: transparent;
    border: none;
    max-height: 45rem;
    display: block;
    /* margin-left: 11%; */
    /* width: 55px; */
    padding: 0;
    transition: 0.5s;
    margin-right: auto;
    margin-left: auto;
}

.dm-button.active .pfp-md{
    border: 2px solid #0d6efd;
    width:49px;
    height:48px;
}

.convo {
    margin: 0px;
    border: none !important;
    /* width: 24rem; */
    height: 20rem;
}

.dm-card {
    height: 24.6rem;
}

.dm-card .row{
    height:100%;
    padding-top:0;
    margin-top: 0;
    margin: 0;
}

.dm-card .col-2 {
    border-right: 1px solid rgb(200,200,200);
    height: 100%;
    min-height: 100%;
    padding: 0.5rem;
    width: unset !important;
}

.dm-card .col-10 {
    padding:0;
}