:root {
    --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.inline {
    display: inline;
}

input[type="color"] {
    border: none;
    background-color: gray;
    border-radius: 3px;
    padding: 1px;
    width: 2em;
    height: 2em;
}

.password-changer {
    border: 2px solid gray;
    border-radius: 5px;
    font-weight: 200;
}

.option-card .card-title {
    border-bottom: 1px solid rgba(25,25,25,0.25);
    padding: 0.5rem;
    padding-left: 2em;
}

#appearance button {
    border: 1px solid gray;
    width: 2em;
    height: 2em;
    border-radius: 5px;
}

input[type="radio"] {
    appearance: none;
    margin: 0;
    font: inherit;
    width: 2em;
    height: 2em;
    border: 0.15em solid gray;
    border-radius: 25%;
    background-size:cover;
}

input[type="radio"]:checked {
    border-color: blue;
}

input[value="light"] {
    background-color: white;
}

input[value="dark"] {
    background-color: rgb(50, 50, 50);
}

input[value="mint"] {
    background-color: #163a22;
}

input[value="neon"] {
    background-color: palevioletred;
}

input[value="galaxy.jpg"] {
    background-image: url('assets/backgrounds/galaxy-preview.jpg')
}

input[value="jelly.jpg"] {
    background-image: url('assets/backgrounds/jelly-preview.jpg')
}

input[value="kitty.jpg"] {
    background-image: url('assets/backgrounds/kitty-preview.jpg')
}

input[value="lightning.jpg"] {
    background-image: url('assets/backgrounds/lightning-preview.jpg')
}

input[value="lounge.jpg"] {
    background-image: url('assets/backgrounds/lounge-preview.jpg')
}

input[value="vaporwave.jpg"] {
    background-image: url('assets/backgrounds/vaporwave-preview.jpg')
}

.option-card .row {
    width: 75%;
    align-items: center;
}

.selected {
    border: 1px solid blue !important;
}

.delete-button {
    background-color:red;
    border:none;
    border-radius:1em;
    color: white;
    padding:0.5em;
    margin-left: auto;
    margin-right: 0;
}

.feedback-hidden {
    max-height:0px !important;
    transition:0.5s;
}

.feedback-message {
    margin-bottom:0px;
    transition:0.5s;
    overflow:hidden;
    max-height:100px;
    width:120%;
}