{% macro reply_editor(post) -%}
<div class="row minimised p-2 reply-row" id="reply-row{{post[0]}}">
    <div class="col-lg-12 d-flex ">
        <div class="card mx-auto reply-editor">
            <form class="reply-form {{post[0]}}" >
                <!-- Quill Editor -->
                <div oninput='ValidatePost()' id="post-body{{post[0]}}" name="postContent" required></div>
                <div id="toolbar{{post[0]}}">
                    <span id="counter" style="color:green">0/255</span> 
                    <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                    </span>
                    <span class="ql-formats">
                        <select class="ql-align"></select>
                    </span>
                    <input id="post-submit" type="submit" value="Create Post">
                </div>
            </form>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro display_post(post, activated_posts) -%}
<div class="row">
    <div class="col-lg-12 p-2 d-flex">
        <div class="card mx-auto">
            <div class="card-body">
                <a class="profile-link" href="{{url_for('profile', user=post[1])}}">
                    <h5 class="card-title"><img class="pfp" src="{{url_for('static', filename=post[-6].strip('.'))}}" />        {{ post[-2] }}</h5>
                </a>
                <div>
                    <p class="card-text">{{ post[4] |safe}}</p>
                </div>
                <a 
                    onclick="Show_Reply_Creator(this)"
                    class="action-link {{post[0]}}"
                >
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
                <a 
                    href="#" 
                    class="action-link {{post[0]}} like-button {% if post[0] in activated_posts[0]%}activated{% endif %}"
                >
                    <i class="fa fa-thumbs-up {{post[0]}}" aria-hidden="true"></i>  {{post[-5]}}
                </a> 
                <a 
                    href="#"
                    class="action-link {{post[0]}} dislike-button {% if post[0] in activated_posts[1]%}activated{% endif %}"
                >
                    <i class="fa fa-thumbs-down {{post[0]}}" aria-hidden="true"></i>  {{post[-4]}}
                </a>

                {% if post[-1]|length > 0 %}
                <button onclick="Show_Replies({{post[0]}})">Show {{ post[-1]|length }} Replies </button>
                {% endif %}

                {% if g.user[5] == '1' %}
                    <a 
                        href="{{url_for('delete_post', post_id=post[0])}}"
                        class="action-link"
                    >
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{%- endmacro %}

{% macro display_reply(reply, activated_posts) -%}
<div class="row">
    <div class="col-12 reply-col">

        <div class="card mx-auto">

            <div class="card-body">
                <a class="profile-link" href="{{url_for('profile', user=reply[1])}}">
                    <h5 class="card-title"><img class="pfp" src="{{url_for('static', filename=reply[-5].strip('.'))}}" />        {{ reply[-1] }}</h5>
                </a>
                
                <div>
                    <p class="card-text">{{ reply[4] |safe}}</p>
                </div>
                
                <!-- Reply Button-->
                <a 
                    onclick="Show_Reply_Creator(this)"
                    class="action-link {{reply[0]}}"
                >
                    <i class="fa fa-reply" aria-hidden="true"></i>
                </a>
                
                <!-- Like button. Requires a lot of post information -->
                <a 
                    href="#" 
                    class="action-link {{reply[0]}} like-button {% if reply[0] in activated_posts[0]%}activated{% endif %}"
                >
                    <i class="fa fa-thumbs-up {{reply[0]}}" aria-hidden="true"></i>  {{reply[-4]}}
                </a> 
                <a 
                    href="#"
                    class="action-link {{reply[0]}} dislike-button {% if reply[0] in activated_posts[1]%}activated{% endif %}"
                >
                    <i class="fa fa-thumbs-down {{reply[0]}}" aria-hidden="true"></i>  {{reply[-3]}}
                </a>

                {% if g.user[5] == '1' %}
                    <a href="{{url_for('delete_post', post_id=reply[0])}}" class="action-link">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                {% endif %}

            </div>
        </div>

    </div>
</div>
{%- endmacro %}

{% macro create_radio_button(key, value, user_settings, style) %}
<input type="radio" name="{{key}}" value="{{value}}" style="{{style}}" {% if user_settings[key] == value%}checked{%endif%}>
{% endmacro %}