{% extends "./base.html"%}

{% import "./macros.html" as macros %}

{% block head %}
    {{ super() }}
    <!-- Local Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='options.css')}}">
{% endblock %}

{% block display_title %}Options{% endblock %}

{% block nav_content %}
    {% if g.user != None %}
        <div class="prof-card mx-auto justify-content-center">
            <div class="pfp-container">
                <img src="{{url_for('static', filename=g.user[4].strip('.'))}}" class="pfp-lg card-image-top"/>
            </div>
            <br>
            <h5 class="card-title">{{g.user[1]}}</h5>
            <a href={{url_for('profile', user=g.user[0])}} class="btn btn-primary">Profile</a>
            <a href="{{url_for('auth.sign_out')}}" class="btn min-button"><i class="fa fa-sign-out"></i></a>
        </div>
    {% else %}
        <button class="nav-button login-button" onclick="Display_Overlay()"> Sign In </button>
    {% endif %}
    <div class="side-nav">
    <!-- Navigation Buttons -->
    <!--
    <a class="nav-button" href="{{url_for('create_post', reply_id=0)}}">Create Post</a>
    -->
    <a class="nav-button" href="{{url_for('dashboard')}}">Dashboard</a>
    </div>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-lg-12 p-2 d-flex">
        <div class="card option-card">
            <div class="card-title">
                <h4> Appearance </h4>
            </div>
            <div class="card-body">
                <form id="appearance" method="POST">
                    <input class="hidden" name="id" value="appearance">
                    <div class="row mx-auto">
                        <div class="col-5">
                            <h4> Theme </h4>
                        </div>
                        <div class="col-7">
                            {{ macros.create_radio_button('theme', 'light', user_settings) }}
                            {{ macros.create_radio_button('theme', 'dark', user_settings) }}
                            {{ macros.create_radio_button('theme', 'mint', user_settings) }}
                            {{ macros.create_radio_button('theme', 'neon', user_settings) }}
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-5">
                            <h4> Background Image </h4>
                        </div>
                        <div class="col-7">
                            {{ macros.create_radio_button('background-image', 'galaxy.jpg', user_settings) }}
                            {{ macros.create_radio_button('background-image', 'jelly.jpg', user_settings) }}
                            {{ macros.create_radio_button('background-image', 'kitty.jpg', user_settings) }}
                            {{ macros.create_radio_button('background-image', 'lightning.jpg', user_settings) }}
                            {{ macros.create_radio_button('background-image', 'lounge.jpg', user_settings) }}
                            {{ macros.create_radio_button('background-image', 'vaporwave.jpg', user_settings) }}
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-5">
                            <h4> Header Colour </h4>
                        </div>
                        <div class="col-7">
                            <input type="color" name="header-colour" value="{{user_settings['header-colour']}}">
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <input type="submit" value="Apply">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 p-2 d-flex">
        <div class="card option-card">
            <div class="card-title">
                <h4> Account </h4>
            </div>
            <div class="card-body">
                <form id="account" method="POST">
                    <input class="hidden" name="id" value="account">
                    <div class="row mx-auto">
                        <div class="col-5">
                            <h4> Username </h4>
                        </div>
                        <div class="col-7">
                            <input type="text" id="username" name="username" value="{{g.user[1]}}" oninput="Validate_Username()" onfocus="Show_Feedback('username'); Validate_Username()" onfocusout="Hide_Feedback('username')">
                            <p id="username-feedback" class="feedback-hidden feedback-message" >Username unchanged</p>
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-5">
                            <h4> Password </h4>
                        </div>
                        <div class="col-7">
                            <button class="password-changer">Change</button>
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <div class="col-5">
                            <h4> Email </h4>
                        </div>
                        <div class="col-7">
                            <h5 class="inline">{{g.user[3]}}{% if g.user[6] != 1 %}       </h5><button class="confirm-email">Confirm</button>{% endif %}
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <input type="submit" value="Apply">
                    </div>
                </form>
                <form id="delete" action={{url_for('delete_account')}} type="GET">
                    <input type="submit" class="delete-button" value="Delete Account">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $('#delete').submit(function(e) {
        if (confirm('Are you sure?') == false) {
            e.preventDefault()
        }
    })
    
    // Copied these from the dashboard page to facillitate username/password changing
    function Validate_Username() {
        // Check username against list of used names, provided through Jinja. Also make sure there is a username
        
        var username_list = eval('{{username_list|tojson}}');
        var username = document.getElementById('username')
        var feedback = document.getElementById("username-feedback")
        
        if (username.value.length == 0) {
            feedback.style.color = "red";
            feedback.innerHTML = "Please fill out this field"
        } else if (username.value == "{{g.user[1]}}") {
            feedback.style.color = "unset"
            feedback.innerHTML = "Username unchanged"
        } else {
            if (username_list.includes(username.value)) {
                feedback.style.color = "red";
                feedback.innerHTML = "Username already taken";
            } else {
                feedback.style.color = "green";
                feedback.innerHTML = "Username is unique";
            }
        }
    }

    function Validate_Password() {
        // Validates each individual criteria

        var feedback_elements = document.getElementsByClassName("password-feedback");
        var password = document.getElementById("password")
        
        // Validate length
        if (password.value.length >= 8) {
            feedback_elements[0].style.color = "green"
        } else {
            feedback_elements[0].style.color = "red"
        }

        // Validate capitals
        if (/[A-Z]/.test(password.value)) {
            feedback_elements[1].style.color = "green"
        } else {
            feedback_elements[1].style.color = "red"
        }

        // Validate number
        if (/\d/.test(password.value)) {
            feedback_elements[2].style.color = "green"
        } else {
            feedback_elements[2].style.color = "red"
        }
    }

    function Show_Feedback(feedback_id) {
        var feedback = document.getElementById(feedback_id + '-feedback');
        feedback.classList.remove('feedback-hidden')
    }

    function Hide_Feedback(feedback_id) {
        var feedback = document.getElementById(feedback_id + '-feedback');
        feedback.classList.add('feedback-hidden')
    }

    $('.password-changer').on("click", function(e) {
        $.ajax(
            {
                data: {},
                type: "POST",
                url: "{{url_for('auth.change_password', email='none')}}"
            }
        )
        this.disabled = true
        e.preventDefault()
    });

    $('.confirm-email').on("click", function(e){
        $.ajax(
            {
                data: {},
                type: "POST",
                url: "{{url_for('auth.confirm_email')}}"
            }
        )
        this.disabled = true
        e.preventDefault()
    })
</script>
{% endblock %}