{% extends "./blog/dash.html" %}

{% import "./macros.html" as macros %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block overlay_content %}
    {{super()}}
{% endblock %}

{% block display_title %}Search{% endblock %}

{% block nav_content %}
    {% if g.user != None %}
        <div class="prof-card mx-auto justify-content-center">
            <div class="pfp-container">
                <img src="{{url_for('static', filename=g.user[4].strip('.'))}}" class="pfp-lg card-image-top"/>
            </div>
            <br>
            <h5 class="card-title">{{g.user[1]}}</h5>
            <a href={{url_for('profile', user=g.user[0])}} class="btn btn-primary">Profile</a>
            <a href="{{url_for('auth.sign_out')}}" class="btn min-button"><i class="fa fa-sign-out"></i></a>
        </div>
    {% else %}
        <button class="nav-button login-button" onclick="Display_Overlay()"> Sign In </button>
    {% endif %}
    <div class="side-nav">
    <!-- Navigation Buttons -->
    <!--
    <a class="nav-button" href="{{url_for('create_post', reply_id=0)}}">Create Post</a>
    -->
    <a class="nav-button" href={{url_for('dashboard')}}>Dashboard</a>
    </div>
{% endblock %}

{% block main_content %}
    {{super()}}
    <div class="container mx-auto" style="padding:5em">
        <div class="row" style="width:100%">
            <div class="col-lg-12 p-2 d-flex">
                <h3 class="md-message"> It looks like there are no good results for your search. </h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block conversations %}
    {% if g.user != None %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{super()}}
{% endblock %}