.card, .prof-card, .nav-button, .ql-picker-options{
    background-color: rgb(10,58,42) !important;
    border-color: rgb(0,48,32)
}

.card-title, .fa, .card-body, .action-link, .nav-button, .ql-toolbar span, .notification, .nav-button:hover{
    color: 	rgb(90,161,127);
}

.ql-editor p {
    color: white !important;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label{
    color: 	rgb(90,161,127) !important;
}

.activated, .activated .fa, a:hover, .action-link:hover, .action-link:hover .fa, .btn:hover .fa, .fa:hover, [class^="ql"]:hover {
    color: rgb(120, 191, 157);
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary:active:hover {
    background-color: rgb(19, 82, 68) !important;
    color: white !important;
}

.btn-primary:active {
    background-color: rgb(19,122,99) !important;
}

.ql-stroke {
    stroke: rgb(90,161,127) !important;
}

.ql-fill {
    fill: rgb(90,161,127) !important
}

.activated, .activated .fa, [class^="ql"]:hover, .fa-chevron-right:hover {
    color: rgb(19,122,99) !important;
}

.dm-header, .dm-card .col-2, .convo-title, .btn-primary, #post-body, .ql-toolbar, .ql-container {
    border-color: rgb(0,48,32) !important;
}

.outgoing .message-body, .btn-primary, .btn-primary:visited {
    background-color: rgb(19,122,99);
}

.nav-button:hover {
    background-color: rgb(9, 51, 38) !important;
}

.btn-primary:active {
    background-color: rgb(19,122,99);
}

.active img{
    border: 2px solid rgb(19,122,99) !important;
}

::selection {
    background-color: rgb(19,122,99) !important;
}

textarea:focus, input:focus{
    outline: solid 2px rgb(19,122,99) !important;
    border-radius:3px;
    box-shadow: none !important;
}

button[class^="ql"]:hover svg .ql-stroke, .ql-picker-item:hover svg .ql-stroke, .ql-picker-label:hover svg .ql-stroke {
    stroke: rgb(19,122,99) !important;
}

button[class^="ql"]:hover svg .ql-fill {
    fill: rgb(19,122,99) !important;
}