.card, .prof-card, .nav-button, .ql-picker-options {
    background-color: #feafd6 !important;
    border-color: #56018c
}

.card-title, .fa, .card-body, .action-link, .nav-button, .ql-toolbar span, .notification {
    color: #56018c;
}

.ql-stroke {
    stroke: white !important;
}

.ql-fill {
    fill: white !important
}

.activated, .activated .fa, a:hover, .action-link:hover, .action-link:hover .fa, .btn:hover .fa, .fa:hover {
    color: rgb(187, 134, 252) !important;
}

.dm-header, .dm-card .col-2, .convo-title, .btn-primary, #post-body, .ql-toolbar, .ql-container {
    border-color: #56018c !important;
}

.outgoing .message-body, .btn-primary, .btn-primary:visited {
    background-color: rgb(187, 134, 252);
}

.btn-primary:active {
    background-color: rgb(107, 54, 172);
}