{% extends './base.html '%}

{% import "./macros.html" as macros %}

{% block head %} {{super()}} {% endblock %}
{% block display_title%}Change Password{% endblock %}

{% block nav_content %}
    {% if g.user != None %}
        <div class="prof-card mx-auto justify-content-center">
            <div class="pfp-container">
                <img src="{{url_for('static', filename=g.user[4].strip('.'))}}" class="pfp-lg card-image-top"/>
                <div class="change-pfp pfp-lg">
                    <i class="fa fa-camera fa-4"></i>
                    <form id="pfp-form" method="POST" enctype="multipart/form-data" action="{{url_for('profile', user=g.user[0])}}">
                        <input name="pfp" id="pfp-chooser" type="file"/>
                    </form>
                </div>
            </div>
            <br>
            <h5 class="card-title">{{g.user[1]}}</h5>
            <a href="{{url_for('profile', user=g.user[0])}}" class="btn btn-primary">Profile</a>
            <a href="{{url_for('auth.sign_out')}}" class="btn min-button"><i class="fa fa-sign-out"></i></a>
        </div>
    {% else %}
        <button class="nav-button login-button" onclick="Display_Overlay()"> Sign In </button>
    {% endif %}
    <br>
    <div class="side-nav">
    <!-- Navigation Buttons -->
    {% if user == g.user[0] %}
        <a class="nav-button" href="#" onclick="Show_Post_Creator()">Create Post</a>
        <br>
    {% endif %}
    <a class="nav-button" href="{{url_for('dashboard')}}">Dashboard</a>
    </div>
{% endblock %}

{% block main_content %}
<div class="card mx-auto">
    <div class="card-body p-2">
        <form method="post" action="{{url_for('auth.change_password', email=g.user[3])}}">
            <label for="password">New Password</label>
            <input name="password" type="password">
            <input type="submit">
        </form>
    </div>
</div>
{% endblock %}